@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  color: #000;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.55px;
  font-style: normal;
  padding-top: 130px;

  overflow-x: hidden;
}

/* 공통 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
}



.title {
  display: block;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  padding-bottom: 65px;
}

/* 헤더 */
.header {
  position: fixed;
  top: 0;
  display: block;
  height: 130px;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  transition: height 0.3s;
}

.header-scroll {
  height: 95px;
}

.header-scroll-790 {
  transition: height 0.3s, top 0.3s;
}

.header .inner {
  position: relative;
  display: block;
  height: 100%;
}

.logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 244px;
  height: 36px;
  background: url('../images/logo.png') no-repeat center;
  background-size: cover;
}

.gnb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: block;
}

.mainmenu {
  float: left;
}

.mainmenu>li {
  position: relative;
  float: left;
  display: block;
}

.mainmenu>li>a {
  /* position: relative; */
  display: block;
  text-align: center;
  font-weight: 600;
  height: 130px;
  line-height: 130px;
  padding: 0 25px;
}

.mainmenu>li>a::after {
  content: '';
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  transition: all 0.4s;
}

.header-scroll .mainmenu>li>a::after {
  top: 90px;
  z-index: 9;
}

.submenu {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: #000;
  padding: 25px 15px 35px 15px;
  font-weight: 500;
  
  display: none;
  transition: all 0.7s;
  transition: top 0.1s;
}
.header-scroll .submenu{
  top: 112px;
}

.mainmenu>li:hover .submenu {
  display: block;
}
.header-scroll .mainmenu>li:hover ::after {
  background-color: #bbb;
}

.mainmenu>li:hover ::after {
  background-color: #bbb;
}

.submenu li {}

.submenu li a {
  display: block;
  padding: 6px 20px;
  background-color: #000;
  color: #bbb;
  font-size: 16px;
}


.top-icon {
  float: right;
  margin-left: 38px;
}

.top-icon>li {
  float: left;
  position: relative;
}

.top-search {
  display: block;
  width: 22px;
  height: 22px;
  background: url('../images/sear.png') no-repeat center;
  background-size: cover;
  margin: 54px 0px;
  margin-right: 30px;
}

.top-lang {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  background: url('../images/lang.png') no-repeat center;
  background-size: cover;
  margin: 54px 0px;
}

.top-lang::after {
  content: '';
  position: absolute;
  top: 225%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition: all 0.7s;
}

.top-icon li:hover ::after {
  background-color: #bbb;
}

.top-icon>li:hover .icon-submenu {
  display: block;
}

.icon-submenu {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}

.icon-submenu li a {
  font-weight: 700;
  font-family: 'Montserrat';
}


/* 비주얼 */
.visual {
  display: block;
  width: 100%;
  height: 100%;
}

.sw-visual .swiper-wrapper .swiper-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 664px;
}

.vs-txt {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  margin: auto 0;
  text-align: center;
}

.vs-txt h2 {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 1.1;

  margin-bottom: 30px;

  opacity: 0;
  transform: translateY(60px);
}

.vs-txt p {
  color: #fff;
  text-align: center;
  font-size: 18px;

  margin-bottom: 60px;

  opacity: 0;
  transform: translateY(60px);
}

.vs-txt a {
  position: absolute;
  left: 47.3%;
  top: 73%;
  display: inline-block;

  opacity: 0;
  transform: translateY(30px);

}

/* viewmore */
.underline {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 1px;
  text-align: center;
  padding: 0 0 2rem;
  font-size: 18rem;
  font-weight: 700;
  color: #222;
}

.underline:before,
.underline:after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  -webkit-transition: width 400ms;
  transition: width 400ms;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.underline:before {
  width: 100%;
  right: 0;
  background: #ddd;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

.underline:after {
  width: 0;
  left: 0;
  background: #000;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}

.underline:hover:before {
  width: 0;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}

.underline:hover:after {
  width: 100%;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

.underline.underline2 {
  color: #fff;
}

.underline.underline2:before,
.underline.underline2:after {
  background: #fff;
}

/* //viewmore */

.vs-txt a span {
  position: relative;
  width: auto;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: bold;
}


.sw-visual .swiper-slide-active h2 {
  transform: translate(0);
  opacity: 1;
  transition: all 1s ease-out;
}

.sw-visual .swiper-slide-active p {
  transform: translate(0);
  opacity: 1;
  transition: all 1s ease-out 0.4s;
}

.sw-visual .swiper-slide-active a {
  transform: translate(0);
  opacity: 1;
  transition: all 0.7s ease-out 0.8s;
}

.vs-slide-1 video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.vs-slide-2 {
  background: url('../images/visual-4.jpeg') no-repeat center;
  background-size: cover;
}

.vs-slide-3 {
  background: url('../images/visual-2.jpeg') no-repeat center;
  background-size: cover;
}

.vs-slide-4 {
  background: url('../images/visual-1.jpeg') no-repeat center;
  background-size: cover;
}

.vs-swiper-control {
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: 100%;
  transform: translateX(-50%);
  height: 50px;
  z-index: 999;
}

.vs-button-prev {
  position: absolute;
  left: 5%;
  bottom: 260px;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  font-family: 'Montserrat';
  font-weight: bold;
  color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  line-height: 20px;

  transition: all 0.3s;
  cursor: pointer;
}

.vs-button-prev::after {
  position: absolute;
  left: 15px;
  top: 9px;
  content: '\f104';
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'FontAwesome';
  transition: all 0.2s;
}

.vs-button-prev:hover {
  width: 110px;
  border: 3px solid #fff;
  font-size: 14px;
  color: #fff;
}
.vs-button-prev:hover::after {
  color: #fff;
}

.vs-button-next {
  position: absolute;
  right: 5%;
  bottom: 260px;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  font-family: 'Montserrat';
  font-weight: bold;
  color: rgba(255, 255, 255, 0.4);
  line-height: 20px;

  transition: all 0.3s;
  cursor: pointer;

  overflow: hidden;
}

.vs-button-next::after {
  position: absolute;
  right: 15px;
  top: 9px;
  content: '\f105';
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'FontAwesome';
  transition: all 0.2s;
}

.vs-button-next:hover {
  width: 110px;
  border: 3px solid #fff;
  font-size: 14px;
  color: #fff;
}

.vs-button-next:hover::after {
  color: #fff;
}


.vs-button-next .bt-text {
  position: absolute;
  left: 20px;
  top: 10px;
  visibility: hidden;
  opacity: 0;
  font-size: 14px;

  transition: left 0.5s, visibility 0.5s;
}

.vs-button-next:hover .bt-text {
  opacity: 1;
  visibility: visible;
}


.vs-button-prev .bt-text {
  position: absolute;
  right: 20px;
  top: 10px;
  visibility: hidden;
  opacity: 0;
  font-size: 14px;

  transition: left 0.5s, visibility 0.5s;
}

.vs-button-prev:hover .bt-text {
  opacity: 1;
  visibility: visible;
}

.vs-pg {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7.2%;
  z-index: 9;
}


.swiper-pagination-bullet-active {
  display: block;
  border-radius: 5px !important;
  width: 28px;
  height: 6px;
  background-color: #fff;
}

.swiper-pagination-bullet {
  display: inline-block;
  border-radius: 0;
  width: 28px;
  height: 6px;
  background-color: rgba(255, 255, 255, .7);
  margin: 4px;
}

.vs-next {
  position: absolute;
  top: -5px;
  right: -50px;
  cursor: pointer;
}


/* 회사소식 */
.notice {
  position: relative;
  display: block;
}

.notice .inner {
  position: relative;
  display: block;
  width: 100%;
  padding: 120px 0;
}

.notice-title {
  display: block;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  padding-bottom: 65px;
}

.notice-box {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border: 3px solid #000;
  border-radius: 60px;

  transition: all 1s;
}

.notice-box .material-symbols-outlined {
  position: absolute;
  right: 3.5%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 43px;
}

.notice-box::before {
  content: '';
  display: block;
  width: 1px;
  height: 18px;
  background-color: #ddd;
  position: absolute;
  left: 17%;
  top: 50%;
  transform: translateY(-50%);
}

.notice-swiper {}

.notice-box-txt {}

.notice-box-txt a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 40px 5%;
}

.notice-box-txt span {
  display: inline-block;
  width: 10%;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}


.notice-box-txt p {
  display: inline-block;
  font-size: 22px;
  margin-left: 7%;
  color: #000;
}

.notice-box:hover {
  background-color: #000;
}

.notice-box:hover span,
.notice-box:hover p {
  color: #fff;
}

.notice-swiper-control {
  position: absolute;
  top: 40%;
  right: 3%;
  font-size: 22px;
  font-family: 'Montserrat';
}

.notice-prev {
  position: absolute;
  top: -5px;
  left: -40px;
  cursor: pointer;
}

.notice-pg {
  position: relative;
  display: inline-block;
  width: 67px;
  white-space: nowrap;
  color: #ddd;
  font-weight: 500;
}

.notice-next {
  position: absolute;
  top: -5px;
  right: -40px;
  cursor: pointer;
}

.swiper-pagination-current{
  color: #000;
}

.notice-swiper-control .material-symbols-outlined{
  color: #ddd;
  transition: all 0.3s;
}
.notice-swiper-control .material-symbols-outlined:hover{
  color: #000;
}

@media screen and ( max-width : 1540px ){
  .notice .inner{
    width: 95%;
  }
}

/* 회사사업 */
.business {
  background: #f9f9f9;
  padding: 120px 0;
}

.business .inner {}

.bs-1-bt {
  transition: all 0.25s;
}

.bs-2-bt {
  transition: all 0.25s;
}

.bs-1 {
  display: block;
}

.bs-2 {
  display: none;
}

.red {
  color: #d60000 !important;
  border-radius: 30px;
  border: #d60000;
}

.red::after {
  display: block !important;
}

.red::before {
  display: none !important;
}

.blue {
  color: #2d5fff !important;
  border-radius: 30px;
  border: #d60000;
}

.blue::after {
  display: block !important;
}

.blue::before {
  display: none !important;
}

.bs-top {
  position: relative;
  display: block;
  padding-top: 35px;
}

.bs-title {
  position: relative;
  display: inline-block;
  font-size: 56px;
  color: #ccc;
  font-weight: bold;
  margin-right: 30px;
  cursor: pointer;
}

.bs-title::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ccc;
}

.bs-title::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  display: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.bs-title:nth-child(1)::after {
  background-color: #d60000;
}

.bs-title:nth-child(2)::after {
  background-color: #2d5fff;
}

.bs-txt {
  font-size: 18px;
}

.bs-more {
  display: inline-block;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: bold;
  border: 3px solid #ddd;
  padding: 15px 35px;
  margin: 30px 0;
  transition: all 0.3s;
}

.bs-1 .bs-more:hover {
  border-radius: 30px;
  border: 3px solid #d60000;
}

.bs-2 .bs-more:hover {
  border-radius: 30px;
  border: 3px solid #2d5fff;
}

.bs-bottom {}

.bs-bottom-box {}


.bs-bottom-box li {
  position: relative;
  float: left;
  display: block;
  width: 361px;
  text-align: center;
  margin-top: 50px;
  margin-right: 32px;
}

.bs-bottom-box li:nth-child(4n) {
  margin-right: 0px;
}

.bs-bottom-box li a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.bs-bottom-box li i {
  display: block;
  width: 361px;
  height: 361px;
  overflow: hidden;
  margin-bottom: 25px;
}



.bs-2>.bs-bottom>.bs-bottom-box>li>a>i {
  border-radius: 50%;
  overflow: hidden;
}

.bs-bottom-box li img {
  width: 361px;
  height: 361px;
  transition: all 0.5s;
}


.bs-bottom-box li:hover img {
  transform: scale(104%);
}

.bs-2 .bs-bottom-box li:nth-child(3):hover img {
  transform: scale(100%);
}

.bs-bottom-box li:nth-child(8):hover img {
  transform: scale(100%);
}

.bs-bottom-box li span {
  line-height: 361px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 42px;
  color: #d60000;
}

.bs-2>.bs-bottom>.bs-bottom-box>li>span {
  color: #2d5fff;
}

.bs-innertxt {
  position: absolute;
  bottom: 88px;
  left: 30px;
  text-align: left;
  font-size: 22px;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: bold;
}

.bs-2 .bs-innertxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 22px;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

@media screen and ( max-width : 1540px ){
  .business .inner{
    width: 95%;
  }
}

/* 제품검색 */
.search {}

.search .inner {
  padding: 120px 0 190px 0;
}

.search-wrap {
  position: relative;
  height: 90px;
  font-size: 20px;
  font-weight: bold;
}

.search-cate {
  position: relative;
  width: 15%;
  height: 100%;
  margin-right: 1.5%;
  border: 3px solid #ddd;
  border-radius: 48px;
  background-color: transparent;
  float: left;
  cursor: pointer;
  transition: border 0.3s;
}

.search-cate:hover {
  border: 3px solid #000;
}

.search-cate-now {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16%;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  z-index: 9;
}

.search-cate>span {
  position: absolute;
  right: 13%;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  font-size: 35px;
  font-weight: 500;
  z-index: 9;
  transition: all 0.3s;
}

.search-cate-ar-rot {
  transform: translateY(-50%) rotate(-180deg) !important;
}

.search-cata-list {
  position: absolute;
  top: -3px;
  left: -3px;
  display: block;
  width: 100%;
  border: 3px solid #000;
  border-radius: 45px;
  box-sizing: content-box;
  padding-top: 35%;
  padding-bottom: 11%;
  background-color: #fff;

  display: none;
}

.search-cata-list-up {
  top: -231px;
  padding-top: 11%;
  padding-bottom: 35%;
}

.search-cata-list a {
  display: block;
  width: 100%;
  padding: 5% 0 5% 16%;
  font-size: 20px;
  color: #999;
  font-weight: 500;
  transition: color 0.3s;
}

.search-cata-list a:hover {
  color: #000;
}

.search-cate-input {
  position: relative;
  width: 70%;
  height: 100%;
  margin-right: 0.5%;
  background-color: #f4f4f4;
  border-radius: 48px 0 0 48px;
  float: left;
}

.search-cate-input input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
}

.search-cate-input input::placeholder {
  color: #999;
  letter-spacing: -1.5px;
}

.search-cate-input input:focus {
  outline: none;
  color: #000;
  font-weight: normal;
}

.search-cate-submit {
  cursor: pointer;
  width: 13%;
  height: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1.5px;
  background-color: #000;
  border-radius: 0 48px 48px 0;
  float: right;
  padding-right: 1.4%;
}

.search-hashtag {
  position: absolute;
  left: 20%;
  bottom: -70%;

}

.search-hashtag li {
  float: left;
  margin-right: 20px;

}

.search-hashtag li a {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  transition: color .2s;
}

.search-hashtag li a:hover {
  color: #000;
}

.search-hashtag li:nth-child(1) a {
  color: #000;
  font-weight: bold;
}

@media screen and ( max-width : 1540px ){
  .search .inner{
    width: 95%;
  }
}

/* 뉴스/sns */
.news {
  background-color: #f9f9f9;
}

.news .inner {
  position: relative;
  padding: 120px 0;
}

.title-en {
  display: block;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  padding-bottom: 40px;
  font-family: 'Montserrat';
  font-weight: bold;
}

.news-more {
  position: absolute;
  top: 35px;
  right: 20px;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #bbb;
  transition: color 0.4s;
}

.news-more span {
  vertical-align: bottom;
  font-size: 23px;
  line-height: 30px;
}

.news-more:hover {
  color: #000;
}

.news-left {
  float: left;
  position: relative;
  display: block;
}


.news-box {
  float: left;
  width: 361px;
  margin-right: 30px;
}

.news-box a {
  display: block;
}

.news-box-img {
  overflow: hidden;
}

.news-box-img img {
  transition: all 0.5s;
}

.news-box a:hover .news-box-img>img {
  transform: scale(105%);
}

.news-box-title {
  font-size: 22px;
  font-weight: bold;
  display: block;
  height: 50px;
  margin-top: 30px;
}

.news-box-txt {
  display: block;
  height: 60px;
  color: #666;
}

.news-box span {
  display: block;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 600;
  color: #bbb;
  letter-spacing: .6px;
  margin-top: 35px;
}


.news-right {
  float: right;
  position: relative;
  display: block;
  width: 23.5%;
}

.sns-round {
  display: block;
  width: 361px;
  height: 361px;
  border-radius: 50%;
  background: #000 url('../images/sns.png');
}

.sns-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  display: block;
  width: 362px;
  margin-top: 30px;
}

.sns-list {
  position: relative;
  display: block;
  text-align: center;
  width: 362px;
}

.sns-list li {
  display: inline-block;
  margin: 10px;
}

.sns-list li a {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #ddd;
  z-index: 1;

  transition: all 0.3s;
}

.sns-fb a {
  background: url('../images/fb.png') no-repeat center;
  background-size: 44%;
}

.sns-fb a:hover {
  background: url('../images/fb_w.png') no-repeat center;
  background-size: 44%;
}

.sns-insta a {
  background: url('../images/insta.png') no-repeat center;
  background-size: 44%;
}

.sns-insta a:hover {
  background: url('../images/insta_w.png') no-repeat center;
  background-size: 44%;
}

.sns-naver a {
  background: url('../images/naver.png') no-repeat center;
  background-size: 44%;
}

.sns-naver a:hover {
  background: url('../images/naver_w.png') no-repeat center;
  background-size: 44%;
}

.sns-list li a:hover {
  background-color: #000;
}

@media screen and ( max-width : 1540px ){
  .news .inner{
    width: 95%;
  }
}


/* 푸터 */
.footer {
  position: relative;
  background-color: #000;
}

.footer .inner {
  display: block;
  padding: 140px 0;
  padding-left: 44%;
}

.white {
  color: #fff;
  position: absolute;
  left: 0;
  display: block;
  line-height: 1.5;
}

.footer-menu {}

.footer-menu li {}

.footer-menu li a {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  padding: 7px;
}

.footer-menu li a::before {
  content: '';
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.6s;
}

.footer-menu li a:hover::before {
  background-color: rgba(255, 255, 255, 1);
}

.footer-richwood {
  display: block;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Montserrat';
  margin-top: 80px;
  cursor: pointer;
}

.footer-richwood span {
  font-size: 30px;
  vertical-align: bottom;
  transition: all 0.3s;

  transform: rotate(0deg);
}

.footer-richwood-ar-rot {
  transform: rotate(-180deg) !important;
}

.footer-info {
  margin: 17px 0;
  display: none;
}

.footer-info span {
  font-family: 'Montserrat';
  color: #666;
  font-size: 14px;
  padding-right: 5px;
}

.footer-info span a {
  font-family: 'Montserrat';
  color: #666;
  font-size: 14px;
  padding-right: 5px;
  transition: color 0.5s;
}

.footer-info span a:hover {
  color: #fff;
}

.footer-info span::after {
  content: '';
  display: inline-block;
  height: 14px;
  width: 1px;
  background-color: #111;
  margin-left: 10px;
  vertical-align: -2px;
}

.footer-info span::after {}

.footer-right {
  margin: 40px 0px 5px 0px;
}

.footer-right li {
  float: left;
  margin-right: 10px;
}

.footer-right li a {
  color: #999;
  font-size: 15px;
  font-weight: bold;
}

.footer-right li::after {
  content: '';
  display: inline-block;
  height: 14px;
  width: 1px;
  background-color: #111;
  margin-left: 10px;
  vertical-align: -2px;
}

.footer-right li:first-child a {
  color: #fff;
}

.copy {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 13px;
  color: #757575;
  letter-spacing: 0.15px;
}

@media screen and ( max-width : 1540px ){
  .footer .inner{
    width: 95%;
  }
}
